body{
    height:100vh;
    background:slategrey;
}


.topbar{
    width:100%;
    background:#7f8ea6;
    padding:18px 0;
    display:flex;
    justify-content:center;
    align-items:center;
}

.searchbox{
    width:260px;
    background:transparent;
    border:none;
    border-bottom:2px solid #9fd3c7;
    padding:6px;
    color:white;
    font-size:14px;
    outline:none;
}

.searchbox::placeholder{
    color:white;
}

.searchbtn{
    margin-left:12px;
    padding:7px 16px;
    background:#efe6d3;
    border-radius:4px;
    cursor:pointer;
    font-weight:500;
}


.weathercontainer{
    height:calc(100vh - 70px);
    display:flex;
    justify-content:center;
    align-items:center;
}


.weathercard{
    display:flex;
    align-items:center;
    gap:60px;
    color:#eaf4f1;
}


.temp{
    font-size:20px;
}


.city-block{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.city{
    font-size:36px;
    font-weight:600;
}

.datetime{
    font-size:14px;
    opacity:0.9;
}


.icon-block{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.icon{
    font-size:40px;
}

.condition{
    font-size:15px;
}
